@page
@model IndexModel
@{
    ViewData["Title"] = "En Büyük Asal Sayıyı Getir";
}

<div class="text-center">
    <h1 class="display-4">Altay Otomotiv Test Case</h1>
    <p>Girilen sayılardan en büyüğüne en yakın asal sayıyı getiren yazılım.</p>

    <form>
        <div class="mb-3">
            <label for="numbers" class="form-label">Lütfen virgül kullanarak birde fazla sayı giriniz</label>
            <input type="text" class="form-control" id="numbers" placeholder="5,6,22,54.......">
        </div>
        <div class="alert alert-success d-none" id="message"></div>
        <button id="PrimeNumberButton" class="btn btn-primary" type="button">En Yakın Asal Sayıyı Getir</button>
    </form>    

</div>
